<p>This is a page all about me.</p>

<p>You will discover a lot of things here</p>

<p>One of those things is that I still haven't changed the template for this page.</p>

<p><strong>If you want to change it, then go to the <code>app/templates/about.hbs</code>
    file and change this text or HTML!!!</strong></p>
